#about {
    padding: 6rem 0;
}

#about h2 {
    font-size: 38px;
    color: var(--primary-color);
    text-align: center;
    font-weight: 600;
    letter-spacing: 1px;
}

#about hr {
    width: 100px;
    height: 3px;
    background-color: var(--secondary-color);
    border: none;
    margin: 5px auto 0;
}

#about .about-content {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 3rem;
}

#about .about-content .col-1 h3 {
    font-size: 28px;
    color: var(--primary-color);
    margin-bottom: 20px;
}

#about .about-content .col-1 p {
    color: var(--gray);
    margin-bottom: 20px;
    line-height: 1.8;
}

#about .about-content .col-2 p {
    color: var(--gray);
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}