.navbar {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
}

.navbar nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: auto;
    padding: 1.5rem 2rem;
}

#logo {
    font-size: 24px;
    font-weight: 600;
    color: var(--primary-color);
}

.navbar nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.navbar nav ul li a {
    margin: 0 15px;
    color: var(--primary-color);
    font-weight: 600;
    text-decoration: none;
}

@media (max-width: 768px) {
    .navbar nav {
        display: block;
        text-align: center;
    }

    .navbar nav ul {
        margin-top: 20px;
    }

    .navbar nav ul li a {
        margin: 0px 8px;
    }
}