#portfolio {
    background: var(--primary-color);
    padding: 6rem 0;
}

#portfolio h2 {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 38px;
    text-align: center;
    font-weight: 600;
    letter-spacing: 1px;
}

#portfolio hr {
    width: 100px;
    height: 3px;
    background-color: var(--secondary-color);
    border: none;
    margin: 5px auto 0;
}

#portfolio .row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    gap: 2rem;
}

#portfolio .row .item {
    background-color: #fff;
    border-radius: 5px;
    transition: all 0.3s ease;
}

#portfolio .row .item:hover {
    transform: scale(1.03);
}

#portfolio .row .item .item-content {
    padding: 20px 15px 30px;
}

#portfolio .row .item .item-content h3 {
    font-size: 20px;
    color: var(--primary-color);
    margin-bottom: 10px;
}

#portfolio .row .item .item-content a {
    font-size: 14px;
    color: var(--secondary-color);
    font-weight: 500;
    text-decoration: none;
}

#portfolio .row .item img {
    max-width: 100%;
    border-bottom: 2px solid #ccc;
    border-radius: 5px 5px 0 5px;
}